SELECT
  Id,
  Name,
  FirstName,
  LastName,
  Email,
  Phone,
  MobilePhone,
  OtherPhone,
  HomePhone,
  AssistantPhone,
  Account.Name,
  MailingStreet,
  MailingCity,
  MailingState,
  MailingPostalCode,
  MailingCountry,
  LeadSource,
  CreatedDate
FROM Contact
WHERE Name != null
LIMIT 1000
